<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h1>Add User</h1>

    <form class="" action="/users/add-user" method="post">
      <input type="text" placeholder="Name" name="name" value="">
      <input type="text" placeholder="Age" name="age" value="">
      <button type="submit">Add</button>
    </form>
  </body>
</html>
