<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the Mustache Page.</h1>
    Author's name is {{name}} and lives in {{address}}
  </body>
</html>
