<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h1>This is the Mustache Page.</h1>
    Author's name is {{name}} and lives in {{address}}
    Age is {{age}}
  </body>
</html>
