<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h1>Users</h1>

    <ul>
      <!-- Iterating (LOOPING) through an array of objects -->
      {{#users}}
        <li>
          {{name}} and the age is {{age}}
        </li>

      {{/users}}

      <!-- Conditional statement - if users don't exist -->
      {{^users}}
        <h2>No user exists!</h2>
      {{/users}}
    </ul>

  </body>
</html>
